<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number Guesser</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="top">
        <h1>Guess the number</h1>
    </div>
    <div class="container">
        <h2>Guess the number between 0 - 100</h2>
        <h3 id="hint">Enter the number</h3>
        <div class="input">
            <input type="text" id="plr-input"><button id="enter-btn">Enter</button>
        </div>
        <button id="reset-btn">New Number</button>
    </div>
    
    <script src="js/main.js"></script>
</body>
</html>